* {
    font-family: Helvetica;
}

h1 {
    background-image: url("./images/pattern.jpeg");
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.product-1 {
    background-color: mediumspringgreen;
}

.product-2 {
    background-color: lightcoral;
}

.product-3 {
    background-color: skyblue;
}

.price {
    font-weight: bold;
    color: blue;
}